---
---
{% extends 'root.njk' %}

{% block headScript %}
{% endblock %} 
{% block content %}
<main class="overworld-map absolute">
  <img class="z-0 w-100 h-auto" src="/res/Overworld/static/overworld-map.png" style="visibility: hidden;" />
  <div class="mapScroll absolute top-0 left-1/2 transform -translate-x-1/2 w-1/3">
    <img src="/res/Overworld/static/{{headerScroll}}"/>
    <div class="overlay-true-center w-full text-center">
      <p class="title heading-primary-font">{{title}}</p>
      <p class="subTitle px-16 paragraph-primary-font">{{subTitle}}</p>
      <audio class="mx-auto mt-4"controls id="headerControls" autoplay loop>
      <source
        style="float: right"
        src="/res/Overworld/sound/overworld.mp3"
        type="audio/mpeg"
      />
      Your browser does not support the audio element.
    </audio>
    </div>

  </div>

  <a href="/Noticeboard.html"><div class="noticeboard absolute">
    <img  src="/res/Overworld/static/{{noticeboard_img}}"/>
    <p class="paragraph-primary-font">{{noticeboard}}</p>
  </div></a>

  <a href="/ARCHIVE/index.html"><div class="archive absolute">
    <img  src="/res/Overworld/static/{{archive_img}}"/>
    <p class="magician-font">{{archive}}</p>
  </div></a>


  <a href="/StarterPub/welcome.html"><div class="pub1 absolute">
    <img  src="/res/Overworld/static/{{pub1_img}}"/>
    <p class="heading-primary-font">{{pub1}}</p>
  </div></a>

  
  <a href="/LinkedLounge/index.html"><div class="pub2 absolute">
    <img  src="/res/Overworld/static/{{pub2_img}}"/>
    <p>{{pub2}}</p>
  </div></a>
  
</main>
{%endblock%}          