.map {
  width: 8%;
  right: 12%;
  top: 25%;
}

.big-note {
  width: 16%;
  top: 25%;
  left: 30%;
  z-index: 2;
}

.note-1 {
  width: 15%;
  top: 57%;
  right: 35%;
}

.note-1 {
  width: 24%;
  top: 54%;
  right: 35%;
  z-index: 1;

  div {
    img {
      width: 68%;
    }
  }
}

.note-2 {
  width: 16%;
  top: 30%;
  right: 23%;
  z-index: 0;
}

.note-horiz {
  width: 20%;
  top: 60%;
  left: 10%;
}
