:root {
  --contentWrapperWidth: 60%;
  --sidebarWidth: 20%; /* calc(100% - (var(--contentWrapperWidth)/2)) */
}

html,
body {
  height: 100%;
  /* min-height: 100vh; */
  margin: 0;
}

// header styling
header {
  .headerContainer {
    /* flex */
    display: flex;
    justify-content: center;

    .headerScroll {
      vertical-align: middle;
      text-align: center;

      font-family: medievalHeading;
      font-size: 300%;
      position: relative;
      color: #b30000;

      .Title {
        margin-bottom: 5px;
      }
      .subTitle {
        font-size: 50%;
        margin-top: 5px;
        font: medievalHeading;
      }

      .dynamicButton {
        img {
          display: block;
          margin-left: auto;
          margin-right: auto;
          /*height: 100%;*/
        }

        p {
          color: white;
          text-align: center;
        }
      }
    }
  }
}

// main layout styling
main {
  display: flex;
  flex-direction: row;

  .left-sidebar {
    width: var(--sidebarWidth);
    order: 1;
    /* height: 300px;  temp */
  }

  .right-sidebar {
    width: var(--sidebarWidth);
    order: 3;
    /* height: 300px;  temp */
  }

  .contentWrapper {
    width: var(--contentWrapperWidth);
    order: 2;
    text-align: center;
    justify-content: center;

    .content {
      // maybe generisize more and move to utility?
      .text {
        color: white;
        font-size: 1.75rem;
        text-align: center;
        border-radius: 1rem;
      }
    }
  }
}

// case-specific classes
//MAIN
.menuScroll {
  font-size: 175%;
}

.inlineImg {
  width: 25%;
  height: 25%;

  margin-left: auto;
  margin-right: auto;
}

.gnomeSmoking {
  top: 50%;
  text-align: center;
  width: 15%;
  font-size: 125%;
}

.beer1,
.beer2 {
  width: 12%;
}

.beer1 {
  top: 70%;
  right: 2%;
}

.beer2 {
  top: 90%;
  right: 12%;
  transform: rotate(-40deg);
}

.orcDice {
  top: 70%;
  right: 1%;
  font-size: 125%;
  width: 10%;
  text-align: center;
}

.coinPouch {
  top: 73%;
  right: 12%;
  width: 10%;
}

.goblinTome {
  top: -5%;
  left: 15%;
  text-align: center;
  width: 10%;
  font-size: 125%;
}

.dagger {
  top: 10%;
  right: 0%;
  width: 17%;
}

.coinSpread {
  top: 30%;
  left: 0%;
  width: 17%;
  transform: rotate(70deg);
}

// ORCS PLAYING DICE
.orcSpectator {
  display: flex;
  justify-content: center;

  img {
    z-index: 1;
  }

  #orcSpeech {
    // for overlay
    position: absolute;
    transform: translate(50%, -100%);
    line-height: 0.5rem;

    img {
      width: 150px;
      height: auto;
    }
  }
}

.scoreboardWrapper {
  display: flex;
  justify-content: center;

  // ref for score overlay
  position: absolute;

  #scoreText {
    text-align: center;
    font-family: medievalHeading;

    position: relative;
    font-size: 150%;
    color: red;

    padding-top: 2.5rem;
  }
}

/* DICE CSS */
.diceWrapper {
  text-align: center;
  justify-content: center;
}

.dice {
  align-items: center;
  display: grid;
  grid-gap: 3%;
  grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
  grid-template-rows: auto;
  justify-content: center;
  padding: 3%;
  perspective: 600px;

  text-align: center;
  justify-content: center;

  transform: translate(15%, 0%);
}

.die-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  height: 6rem;
  list-style-type: none;
  transform-style: preserve-3d;
  width: 6rem;
  /* margin: auto; */

  justify-content: center;
}

.even-roll {
  transition: transform 1.5s ease-out;
}
.odd-roll {
  transition: transform 1.25s ease-out;
}
.die-item {
  background-color: #ddbea0;
  box-shadow: inset -0.35rem 0.35rem 0.75rem rgba(0, 0, 0, 0.3),
    inset 0.5rem -0.25rem 0.5rem rgba(0, 0, 0, 0.15);
  display: grid;
  grid-column: 1;
  grid-row: 1;
  grid-template-areas:
    "one two three"
    "four five six"
    "seven eight nine";
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  height: 100%;
  padding: 1rem;
  width: 100%;
  margin: auto;
  box-sizing: content-box;
}

.dot {
  align-self: center;
  background-color: #676767;
  border-radius: 50%;
  box-shadow: inset -0.15rem 0.15rem 0.25rem rgba(0, 0, 0, 0.5);
  display: block;
  height: 1.25rem;
  justify-self: center;
  width: 1.25rem;
}

.even-roll[data-roll="1"] {
  transform: rotateX(360deg) rotateY(720deg) rotateZ(360deg);
}
.even-roll[data-roll="2"] {
  transform: rotateX(450deg) rotateY(720deg) rotateZ(360deg);
}
.even-roll[data-roll="3"] {
  transform: rotateX(360deg) rotateY(630deg) rotateZ(360deg);
}
.even-roll[data-roll="4"] {
  transform: rotateX(360deg) rotateY(810deg) rotateZ(360deg);
}
.even-roll[data-roll="5"] {
  transform: rotateX(270deg) rotateY(720deg) rotateZ(360deg);
}
.even-roll[data-roll="6"] {
  transform: rotateX(360deg) rotateY(900deg) rotateZ(360deg);
}
.odd-roll[data-roll="1"] {
  transform: rotateX(-360deg) rotateY(-720deg) rotateZ(-360deg);
}
.odd-roll[data-roll="2"] {
  transform: rotateX(-270deg) rotateY(-720deg) rotateZ(-360deg);
}
.odd-roll[data-roll="3"] {
  transform: rotateX(-360deg) rotateY(-810deg) rotateZ(-360deg);
}
.odd-roll[data-roll="4"] {
  transform: rotateX(-360deg) rotateY(-630deg) rotateZ(-360deg);
}
.odd-roll[data-roll="5"] {
  transform: rotateX(-450deg) rotateY(-720deg) rotateZ(-360deg);
}
.odd-roll[data-roll="6"] {
  transform: rotateX(-360deg) rotateY(-900deg) rotateZ(-360deg);
}
[data-side="1"] {
  transform: rotate3d(0, 0, 0, 90deg) translateZ(4rem);
}
[data-side="2"] {
  transform: rotate3d(-1, 0, 0, 90deg) translateZ(4rem);
}
[data-side="3"] {
  transform: rotate3d(0, 1, 0, 90deg) translateZ(4rem);
}
[data-side="4"] {
  transform: rotate3d(0, -1, 0, 90deg) translateZ(4rem);
}
[data-side="5"] {
  transform: rotate3d(1, 0, 0, 90deg) translateZ(4rem);
}
[data-side="6"] {
  transform: rotate3d(1, 0, 0, 180deg) translateZ(4rem);
}
[data-side="1"] .dot:nth-of-type(1) {
  grid-area: five;
}
[data-side="2"] .dot:nth-of-type(1) {
  grid-area: one;
}
[data-side="2"] .dot:nth-of-type(2) {
  grid-area: nine;
}
[data-side="3"] .dot:nth-of-type(1) {
  grid-area: one;
}
[data-side="3"] .dot:nth-of-type(2) {
  grid-area: five;
}
[data-side="3"] .dot:nth-of-type(3) {
  grid-area: nine;
}
[data-side="4"] .dot:nth-of-type(1) {
  grid-area: one;
}
[data-side="4"] .dot:nth-of-type(2) {
  grid-area: three;
}
[data-side="4"] .dot:nth-of-type(3) {
  grid-area: seven;
}
[data-side="4"] .dot:nth-of-type(4) {
  grid-area: nine;
}
[data-side="5"] .dot:nth-of-type(1) {
  grid-area: one;
}
[data-side="5"] .dot:nth-of-type(2) {
  grid-area: three;
}
[data-side="5"] .dot:nth-of-type(3) {
  grid-area: five;
}
[data-side="5"] .dot:nth-of-type(4) {
  grid-area: seven;
}
[data-side="5"] .dot:nth-of-type(5) {
  grid-area: nine;
}
[data-side="6"] .dot:nth-of-type(1) {
  grid-area: one;
}
[data-side="6"] .dot:nth-of-type(2) {
  grid-area: three;
}
[data-side="6"] .dot:nth-of-type(3) {
  grid-area: four;
}
[data-side="6"] .dot:nth-of-type(4) {
  grid-area: six;
}
[data-side="6"] .dot:nth-of-type(5) {
  grid-area: seven;
}
[data-side="6"] .dot:nth-of-type(6) {
  grid-area: nine;
}

button {
  align-self: center;
  border: none;
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
  justify-self: center;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}
button:hover {
  cursor: pointer;
}

#cursorImg {
  pointer-events: none;
}

.top-1\/10 {
  top: 10%;
}
@media (min-width: 900px) {
  .dice {
    perspective: 1300px;
  }
}
