@font-face {
  font-family: medievalParagraph;
  src: url("/res/fonts/EnchantedLand.otf");
}

@font-face {
  font-family: medievalHeading;
  src: url("/res/fonts/OldLondon.ttf");
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas: "headerL headerL header header header headerR headerR" "sidebarTopL . mainContentBlock1 mainContentBlock1 mainContentBlock1 . sidebarTopR" "sidebarTopL . mainContentBlock1 mainContentBlock1 mainContentBlock1 . sidebarTopR" ". . mainContentBlock1 mainContentBlock1 mainContentBlock1 . ." ". . mainContentBlock1 mainContentBlock1 mainContentBlock1 . .";
  width: 100vw;
  height: 100vh;
  gap: 10px;
  padding: 10px;
  box-sizing: border-box;
}

div#pubBodyDiv {
  background-image: url("/res/StarterPub/static/pub.jpg");
  background-repeat: repeat;
  /* background-size: auto; */
  height: max-content;
  /* background-color: black; */
}

div#pubCornerDiv {
  background-image: url("/res/StarterPub/static/pubCorner3.jpg");
  background-size: cover;
  height: max-content;
  /* background-color: black; */
}

div#seperatingBannerDiv {
  background-image: url("/res/StarterPub/static/ForestTopBanner.png");
  background-size: auto;
  height: 174px;
  width: max-content;
  /* background-color: black; */
}

div#groveBodyDiv {
  background-image: url("/res/StarterPub/static/groveBackground2.png");
  background-size: auto;
  height: 1080px;
  width: max-content;
  /* background-color: black; */
}

.header {
  grid-area: header;
  text-align: center;
  vertical-align: middle;
  font-family: medievalHeading;
  font-size: 300%;
  position: relative;
  color: #b30000;
}

.headerL {
  grid-area: headerL;
  float: left;
  max-width: 100%;
  height: 10%;
  top: 50%;
  position: relative;
  transform: translateY(-50%);
}

.headerR {
  grid-area: headerR;
}

.sidebarTopL {
  grid-area: sidebarTopL;
  position: relative;
  text-align: center;
  vertical-align: middle;
  min-height: 0;
}

.sidebarTopR {
  grid-area: sidebarTopR;
  text-align: center;
  color: white;
}

.mainContentBlock1 {
  grid-area: mainContentBlock1;
  transform: translate(15%, 0%);

  display: flex;

  align-items: center;
  justify-content: center;

  height: 100%;
}

.beer1 {
  grid-area: beer1;
}

.gnomeSmoking {
  grid-area: gnomeSmoking;
  text-align: center;
}

.pouch {
  grid-area: pouch;
}

.beer2 {
  grid-area: beer2;
}

.orc {
  grid-area: orc;
  text-align: center;
}

.mainContentBlock2 {
  grid-area: mainContentBlock2;
  background-image: url("/res/StarterPub/static/darkWoodBack.png");
  background-size: contain;
}

.subSideBar {
  float: left;
  width: 50%;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

img.header {
  display: block;
  margin-left: auto;
  margin-right: auto;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 30%;
  width: 60%;
}

img.headerL {
  float: left;
  height: 175px;
  width: 175px;
  top: 50%;
  position: relative;

  transform: translateY(-50%);
}

img.sidebar {
  display: block;
  margin-left: auto;
  margin-right: auto;
  /*height: 100%;*/
  width: 100%;
}

img#rotate {
  transform: rotate(-40deg);
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.menuOverlay {
  position: absolute;
  left: 5%;
  right: 5%;
  top: 1%;
  bottom: 50px;
  /* transform: translate(-50%, -50%); */
  font-family: medievalParagraph;
  font-size: 150%;
}

.menuTitle {
  font-family: medievalHeading;
  color: #b30000;
}

.menuLink {
  font-family: medievalParagraph;
}

#mainContentWrapper {
  font-family: serif;
  color: white;
  text-align: center;
  font-size: 115%;
  padding: 30px;
  padding-top: 15px;
}

.inlineImg {
  width: 25%;
  height: 25%;
}

img#freeImage {
  width: 80%;
  height: 80%;
}

img#pouch {
  height: 60%;
  width: 60%;
  top: 50%;
  position: relative;
  transform: translateY(-50%);
}

#headerControls {
  float: right;
  top: 50%;
  position: relative;
  transform: translateY(-50%);
}

.annotationLink {
  text-align: center;
}

#borderOverlay {
  position: absolute;
  text-align: center;
  transform: translateY(-15%);
  background-repeat: repeat-x;
  background-image: url("/res/StarterPub/dynamic/starBorder.gif");
  width: 100%;
  height: 100%;
}

p.Title {
  margin-bottom: 5px;
}
p.subTitle {
  font-size: 50%;
  margin-top: 5px;
  font: medievalHeading;
}

/* DICE GAME */

.imageWrapper {
  float: left;
}
.buttonWrapper {
  float: left;

  display: flex;

  align-items: center;
  justify-content: center;
}

.diceWrapper {
  /*display: flex;
	justify-content: center;
	align-items: center;*/
  float: left;
  clear: left;
}

.dice {
  align-items: center;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
  grid-template-rows: auto;
  justify-items: center;
  padding: 2rem;
  perspective: 600px;
}
.die-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  height: 6rem;
  list-style-type: none;
  transform-style: preserve-3d;
  width: 6rem;
  margin: auto;
}
.even-roll {
  transition: transform 1.5s ease-out;
}
.odd-roll {
  transition: transform 1.25s ease-out;
}
.die-item {
  background-color: #fefefe;
  box-shadow: inset -0.35rem 0.35rem 0.75rem rgba(0, 0, 0, 0.3),
    inset 0.5rem -0.25rem 0.5rem rgba(0, 0, 0, 0.15);
  display: grid;
  grid-column: 1;
  grid-row: 1;
  grid-template-areas:
    "one two three"
    "four five six"
    "seven eight nine";
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  height: 100%;
  padding: 1rem;
  width: 100%;
  margin: auto;
}
.dot {
  align-self: center;
  background-color: #676767;
  border-radius: 50%;
  box-shadow: inset -0.15rem 0.15rem 0.25rem rgba(0, 0, 0, 0.5);
  display: block;
  height: 1.25rem;
  justify-self: center;
  width: 1.25rem;
}

.even-roll[data-roll="1"] {
  transform: rotateX(360deg) rotateY(720deg) rotateZ(360deg);
}
.even-roll[data-roll="2"] {
  transform: rotateX(450deg) rotateY(720deg) rotateZ(360deg);
}
.even-roll[data-roll="3"] {
  transform: rotateX(360deg) rotateY(630deg) rotateZ(360deg);
}
.even-roll[data-roll="4"] {
  transform: rotateX(360deg) rotateY(810deg) rotateZ(360deg);
}
.even-roll[data-roll="5"] {
  transform: rotateX(270deg) rotateY(720deg) rotateZ(360deg);
}
.even-roll[data-roll="6"] {
  transform: rotateX(360deg) rotateY(900deg) rotateZ(360deg);
}
.odd-roll[data-roll="1"] {
  transform: rotateX(-360deg) rotateY(-720deg) rotateZ(-360deg);
}
.odd-roll[data-roll="2"] {
  transform: rotateX(-270deg) rotateY(-720deg) rotateZ(-360deg);
}
.odd-roll[data-roll="3"] {
  transform: rotateX(-360deg) rotateY(-810deg) rotateZ(-360deg);
}
.odd-roll[data-roll="4"] {
  transform: rotateX(-360deg) rotateY(-630deg) rotateZ(-360deg);
}
.odd-roll[data-roll="5"] {
  transform: rotateX(-450deg) rotateY(-720deg) rotateZ(-360deg);
}
.odd-roll[data-roll="6"] {
  transform: rotateX(-360deg) rotateY(-900deg) rotateZ(-360deg);
}
[data-side="1"] {
  transform: rotate3d(0, 0, 0, 90deg) translateZ(4rem);
}
[data-side="2"] {
  transform: rotate3d(-1, 0, 0, 90deg) translateZ(4rem);
}
[data-side="3"] {
  transform: rotate3d(0, 1, 0, 90deg) translateZ(4rem);
}
[data-side="4"] {
  transform: rotate3d(0, -1, 0, 90deg) translateZ(4rem);
}
[data-side="5"] {
  transform: rotate3d(1, 0, 0, 90deg) translateZ(4rem);
}
[data-side="6"] {
  transform: rotate3d(1, 0, 0, 180deg) translateZ(4rem);
}
[data-side="1"] .dot:nth-of-type(1) {
  grid-area: five;
}
[data-side="2"] .dot:nth-of-type(1) {
  grid-area: one;
}
[data-side="2"] .dot:nth-of-type(2) {
  grid-area: nine;
}
[data-side="3"] .dot:nth-of-type(1) {
  grid-area: one;
}
[data-side="3"] .dot:nth-of-type(2) {
  grid-area: five;
}
[data-side="3"] .dot:nth-of-type(3) {
  grid-area: nine;
}
[data-side="4"] .dot:nth-of-type(1) {
  grid-area: one;
}
[data-side="4"] .dot:nth-of-type(2) {
  grid-area: three;
}
[data-side="4"] .dot:nth-of-type(3) {
  grid-area: seven;
}
[data-side="4"] .dot:nth-of-type(4) {
  grid-area: nine;
}
[data-side="5"] .dot:nth-of-type(1) {
  grid-area: one;
}
[data-side="5"] .dot:nth-of-type(2) {
  grid-area: three;
}
[data-side="5"] .dot:nth-of-type(3) {
  grid-area: five;
}
[data-side="5"] .dot:nth-of-type(4) {
  grid-area: seven;
}
[data-side="5"] .dot:nth-of-type(5) {
  grid-area: nine;
}
[data-side="6"] .dot:nth-of-type(1) {
  grid-area: one;
}
[data-side="6"] .dot:nth-of-type(2) {
  grid-area: three;
}
[data-side="6"] .dot:nth-of-type(3) {
  grid-area: four;
}
[data-side="6"] .dot:nth-of-type(4) {
  grid-area: six;
}
[data-side="6"] .dot:nth-of-type(5) {
  grid-area: seven;
}
[data-side="6"] .dot:nth-of-type(6) {
  grid-area: nine;
}

button {
  align-self: center;
  background-color: #efefef;
  border: none;
  color: #333;
  font-size: 1.25rem;
  font-weight: 700;
  justify-self: center;
  padding: 0.5rem 1rem;
}
button:hover {
  cursor: pointer;
}

@media (min-width: 900px) {
  .dice {
    perspective: 1300px;
  }
}
