@font-face {
  font-family: medievalParagraph;
  src: url("/res/fonts/EnchantedLand.otf");
}

@font-face {
  font-family: medievalHeading;
  src: url("/res/fonts/OldLondon.ttf");
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas: "headerL headerL header header header headerR headerR" "sidebarTopL . mainContentBlock1 mainContentBlock1 mainContentBlock1 . sidebarTopR" "sidebarTopL . mainContentBlock1 mainContentBlock1 mainContentBlock1 . sidebarTopR" ". . mainContentBlock1 mainContentBlock1 mainContentBlock1 . ." ". . mainContentBlock1 mainContentBlock1 mainContentBlock1 . .";
  width: 100vw;
  height: 100vh;
  gap: 10px;
  padding: 10px;
  box-sizing: border-box;
}

div#pubBodyDiv {
  background-image: url("/res/StarterPub/static/pub.jpg");
  background-repeat: repeat;
  /* background-size: auto; */
  height: max-content;
  /* background-color: black; */
}

div#pubCornerDiv {
  background-image: url("/res/StarterPub/static/pubCorner3.jpg");
  background-size: cover;
  height: max-content;
  /* background-color: black; */
}

div#seperatingBannerDiv {
  background-image: url("/res/StarterPub/static/ForestTopBanner.png");
  background-size: auto;
  height: 174px;
  width: max-content;
  /* background-color: black; */
}

div#groveBodyDiv {
  background-image: url("/res/StarterPub/static/groveBackground2.png");
  background-size: auto;
  height: 1080px;
  width: max-content;
  /* background-color: black; */
}

.header {
  grid-area: header;
  text-align: center;
  vertical-align: middle;
  font-family: medievalHeading;
  font-size: 300%;
  position: relative;
  color: #b30000;
}

.headerL {
  grid-area: headerL;
  float: left;
  max-width: 100%;
  height: 10%;
  top: 50%;
  position: relative;
  transform: translateY(-50%);
}

.headerR {
  grid-area: headerR;
}

img#introCursor {
  position: absolute;
  transform: translate(-50%, -50%);
  height: 15%;
  width: 15%;
}

.sidebarTopL {
  grid-area: sidebarTopL;
  position: relative;
  text-align: center;
  vertical-align: middle;
  min-height: 0;
}

.sidebarTopR {
  grid-area: sidebarTopR;
  text-align: center;
  color: white;
}

.mainContentBlock1 {
  grid-area: mainContentBlock1;
  background: no-repeat url("/res/StarterPub/static/table2.jpg") 50% / 100%;
  background-position: center top;
  /*background-size: contain;*/
}

.beer1 {
  grid-area: beer1;
}

.gnomeSmoking {
  grid-area: gnomeSmoking;
  text-align: center;
}

.pouch {
  grid-area: pouch;
}

.beer2 {
  grid-area: beer2;
}

.orc {
  grid-area: orc;
  text-align: center;
}

.mainContentBlock2 {
  grid-area: mainContentBlock2;
  background-image: url("/res/StarterPub/static/darkWoodBack.png");
  background-size: contain;
}

.subSideBar {
  float: left;
  width: 50%;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
}

img.header {
  display: block;
  margin-left: auto;
  margin-right: auto;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 30%;
  width: 60%;
}

img.headerL {
  float: left;
  height: 175px;
  width: 175px;
  top: 50%;
  position: relative;

  transform: translateY(-50%);
}

img.sidebar {
  display: block;
  margin-left: auto;
  margin-right: auto;
  /*height: 100%;*/
  width: 100%;
}

img#rotate {
  transform: rotate(-40deg);
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.menuOverlay {
  position: absolute;
  left: 5%;
  right: 5%;
  top: 1%;
  bottom: 50px;
  /* transform: translate(-50%, -50%); */
  font-family: medievalParagraph;
  font-size: 150%;
}

.menuTitle {
  font-family: medievalHeading;
  color: #b30000;
}

.menuLink {
  font-family: medievalParagraph;
}

#mainContentWrapper {
  font-family: serif;
  color: white;
  text-align: center;
  font-size: 115%;
  padding: 30px;
  padding-top: 15px;
}

.inlineImg {
  width: 25%;
  height: 25%;
}

img#freeImage {
  width: 80%;
  height: 80%;
}

img#pouch {
  height: 60%;
  width: 60%;
  top: 50%;
  position: relative;
  transform: translateY(-50%);
}

#headerControls {
  float: right;
  top: 50%;
  position: relative;
  transform: translateY(-50%);
}

.annotationLink {
  text-align: center;
}

#borderOverlay {
  position: absolute;
  text-align: center;
  transform: translateY(-15%);
  background-repeat: repeat-x;
  background-image: url("/res/StarterPub/dynamic/starBorder.gif");
  width: 100%;
  height: 100%;
}

p.Title {
  margin-bottom: 5px;
}
p.subTitle {
  font-size: 50%;
  margin-top: 5px;
  font: medievalHeading;
}
