---
---

{% extends 'YeOldeFountain/YeOldeFountainRoot.njk' %}

{% block headScript %}
<script type="module">
import {toggleSpeech} from '/scripts/toggleSpeech.js';
  // fading
  $(document).ready(function () {
    var textBoxTime = 2000;
    var OrcText = [{{_OrcText | safe}}];
    var i = 0;

    function rollDice() {
      var score = 0
      const dice = [...document.querySelectorAll(".die-list")]
      dice.forEach((die) => {
        toggleClasses(die)
        die.dataset.roll = getRandomNumber(1, 6)
        score += parseInt(die.dataset.roll)
      })

      i = Math.floor(Math.random() * OrcText.length);
      toggleSpeech(OrcText[i], textBoxTime, textBoxTime*2);
      setTimeout(function(){
        document.getElementById("score").textContent = score.toString();
      }, textBoxTime);
    }

    function toggleClasses(die) {
      die.classList.toggle("odd-roll")
      die.classList.toggle("even-roll")
    }

    function getRandomNumber(min, max) {
      min = Math.ceil(min)
      max = Math.floor(max)
      return Math.floor(Math.random() * (max - min + 1)) + min
    }

    document.getElementById("roll-button").addEventListener("click", rollDice)
  })
</script>


{% endblock %} 
{% block main %}
{% import "YeOldeFountain/partials/transitionDivider.njk" as transition %}
{{ transition.transition("/res/YeOldeFountain/static/metalTop.gif") }}
<main>

  <aside class="left-sidebar"></aside>
  <aside class="right-sidebar"></aside>

  <div class="contentWrapper inline-block">
    <img class="inline-block" src="{{orcPath}}" width="75%" />
    <div class="content mt-20 mb-20">
        {% import "YeOldeFountain/partials/textBox.njk" as textBox %}
        {{ textBox.textBox(textbox_text,textBackground,'','py-2 px-5','mx-14') }}
    </div>
  </div>
</main>

<main>
  <aside class="left-sidebar">
    <div class="orcSpectator">
      <img src="/res/YeOldeFountain/dynamic/orc1.gif"/>
      <div id="speechContainer" class="absolute transform translate-x-1/2 -translate-y-full" style="display: none">
        <img src="/res/YeOldeFountain/static/speechBubble.png"/>
        <div id="speechText" class="px-2.5 pb-2.5 pt-2 leading-4  overlay-top-center ta-center text-lg paragraph-primary-font">
        </div>
      </div>
    </div>
  </aside>

  <aside class="right-sidebar">
    <div class="scoreboardWrapper">
      <div class="scoreboard">
        <img src="/res/YeOldeFountain/static/parchment.png"/ width=100%>
      </div>
      <div class="overlay-top-center">
        <p id="scoreText">Score: <span id="score">0</span></p>
      </div>
    </div>
  </aside>

  <div class="contentWrapper">
      <div class="diceWrapper">
        <div class="dice">
          <ol class="die-list even-roll" data-roll="1" id="die-1">
            <li class="die-item" data-side="1">
              <span class="dot"></span>
            </li>
            <li class="die-item" data-side="2">
              <span class="dot"></span>
              <span class="dot"></span>
            </li>
            <li class="die-item" data-side="3">
              <span class="dot"></span>
              <span class="dot"></span>
              <span class="dot"></span>
            </li>
            <li class="die-item" data-side="4">
              <span class="dot"></span>
              <span class="dot"></span>
              <span class="dot"></span>
              <span class="dot"></span>
            </li>
            <li class="die-item" data-side="5">
              <span class="dot"></span>
              <span class="dot"></span>
              <span class="dot"></span>
              <span class="dot"></span>
              <span class="dot"></span>
            </li>
            <li class="die-item" data-side="6">
              <span class="dot"></span>
              <span class="dot"></span>
              <span class="dot"></span>
              <span class="dot"></span>
              <span class="dot"></span>
              <span class="dot"></span>
            </li>
          </ol>
          <ol class="die-list odd-roll" data-roll="1" id="die-2">
            <li class="die-item" data-side="1">
              <span class="dot"></span>
            </li>
            <li class="die-item" data-side="2">
              <span class="dot"></span>
              <span class="dot"></span>
            </li>
            <li class="die-item" data-side="3">
              <span class="dot"></span>
              <span class="dot"></span>
              <span class="dot"></span>
            </li>
            <li class="die-item" data-side="4">
              <span class="dot"></span>
              <span class="dot"></span>
              <span class="dot"></span>
              <span class="dot"></span>
            </li>
            <li class="die-item" data-side="5">
              <span class="dot"></span>
              <span class="dot"></span>
              <span class="dot"></span>
              <span class="dot"></span>
              <span class="dot"></span>
            </li>
            <li class="die-item" data-side="6">
              <span class="dot"></span>
              <span class="dot"></span>
              <span class="dot"></span>
              <span class="dot"></span>
              <span class="dot"></span>
              <span class="dot"></span>
            </li>
          </ol>
        </div>

        <div class="buttonWrapper">
          <button type="button" id="roll-button" class="pub-dark-wood heading-primary-font">Roll Dice</button>
        </div>
      </div>

      <div class="clearfix"></div>
  </div>
</main>
{% endblock %}
