@font-face {
    font-family: medievalParagraph;
    src: url("res/fonts/EnchantedLand.otf");
}

@font-face {
    font-family: medievalHeading;
    src: url("res/fonts/OldLondon.ttf");
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    ". . . . . . . ."
    ". .  Big-Note . . . Map . "
    ". . Big-Note . Note-3 . . . "
    ". . Big-Note . . Note-1 . . "
    ". . . . . Note-1 . ."
    ". . Note-2 Note-2 . . . ."
    ". . . . . . . .";
	width: 100%; 
  height: 100%; 
}

.Map { grid-area: Map; text-align: center;
    color: white;}
.Big-Note { grid-area: Big-Note; }
.Note-1 { grid-area: Note-1; }
.Note-2 { grid-area: Note-2; }
.Note-3 { grid-area: Note-3; }


div#noticeboardDiv {
    background-image: url("res/static/Noticeboard.png");
    background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	position:relative;
}

div#groveBodyDiv {
    background-image: url("res/static/groveBackground.png");
    background-size: auto;
    height: max-content;
    /* background-color: black; */
}


.header {
    grid-area: header;
    text-align: center;
    vertical-align: middle;
    font-family: medievalHeading;
    font-size: 300%;
    position: relative;
    color: #b30000;
}

.headerL {
    grid-area: headerL;
    float: left;
    max-width: 100%;
    height: 10%;
    top: 50%;
    position: relative;
    transform: translateY(-50%);
}

.headerR {
    grid-area: headerR;
}

.sidebarTopL {
    grid-area: sidebarTopL;
    position: relative;
    text-align: center;
    vertical-align: middle;
    min-height: 0;
}

.sidebarTopR {
    grid-area: sidebarTopR;
}

.mainContentBlock1 {
    grid-area: mainContentBlock1;
    background: no-repeat url("res/static/table2.jpg") 50% / 100%;
    background-position: center;
    /*background-size: contain;*/
}

.beer1 {
    grid-area: beer1;
}

.gnomeSmoking {
    grid-area: gnomeSmoking;
    text-align: center;
}

.pouch {
    grid-area: pouch;
}

.beer2 {
    grid-area: beer2;
}

.orc {
    grid-area: orc;
    text-align: center;

}


.mainContentBlock2 {
    grid-area: mainContentBlock2;
    background-image: url("res/static/darkWoodBack.png");
    background-size: contain;
}

.subSideBar {
    float: left;
    width: 50%;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

img.header {
    display: block;
    margin-left: auto;
    margin-right: auto;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 30%;
    width: 60%;
}

img.headerL {
    float: left;
    height: 175px;
    width: 175px;
    top: 50%;
    position: relative;
    
    transform: translateY(-50%);
}

img.sidebar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /*height: 100%;*/
    width: 100%;
}

img#rotate {
    transform: rotate(-40deg);
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menuOverlay {
    position: absolute;
    left: 5%;
    right: 5%;
    top: 1%;
    bottom: 50px;
    /* transform: translate(-50%, -50%); */
    font-family: medievalParagraph;
    font-size: 150%;
}

.menuTitle {
    font-family: medievalHeading;
    color: #b30000;
}

.menuLink {
    font-family: medievalParagraph;
}

#mainContentWrapper {
    font-family: serif;
    color: white;
    text-align: center;
    font-size: 125%;
    padding: 30px;
}

.inlineImg {
    width: 25%;
    height: 25%;
}

img#freeImage {
    width: 80%;
    height: 80%;
}

img#pouch {
    height: 60%;
    width: 60%;
    top: 50%;
    position: relative;
    transform: translateY(-50%);
}

#headerControls {
    float: right;
    top: 50%;
    position: relative;
    transform: translateY(-50%);
}

.annotationLink{
    text-align: center;
    font-size: 150%;

}


