---
title: Ye Olde Fountain
subTitle: The Dapper Goblin Sitting Alone...
audioPath: /res/StarterPub/sound/chap.mp3
background: background-black
textBackground: background-black
headerBackground: pub-fantasty-busy
goblinPath: /res/StarterPub/static/goblinPhilosopher.png
---

{% extends 'StarterPub/goblinPhilosopher.njk' %}


{% set textbox_text %}
    {% markdown %}
        As you look around the pub, you spy an erudite-seeming, but tattered-looking goblin sitting at a table perfectly in the center, vulgarly fondling its nether reasons. Although disgusted, you can’t turn away. What is this goblin doing? Continuing to watch, you see it pull a ratty tome from down below, one so vile that green cartoonish stink lines actively shoot out of it. The goblin sips from a mug with a foul and dark crystalline liquid in it and belches loudly.

        “Hm, Sanchez! Theories of time travel here. Wormhole. Dialectic. Where’s my spork, heh. Humph!” mumbles this musty fellow.

        This all sounds familiar, but you conclude that this goblin must just be a nerd. “I heard that! Hragh hrupgh” coughs the goblin as it turns to you. “You think I’m a nerd? I can hear your thoughts my friend... my mind is a proverbial and literal panopticon, come come, I must tell you something. Perhaps you won’t think I’m a nerd after I bestow this knowledge upon you.”

        You find yourself captivated by this goblin’s turn into linguistic lucidity and decide to make your way over.

        “Pube?” the goblin asks, extending a hair inexplicably connected in the form of a perfect ouroboros. “The snake eats itself. Two-heads. From consumption comes life. Do you understand?”

        You shake your head ambivalently.

        “BRECHT” belches the goblin, throwing the pube into the air. “No no no no, not the philosopher you two-legged numbskull, that’s just my ale speaking.” It smirks. “Are we the performers, or are we the audience? Reach into my pocket. You already have! The world is my pocket. Space is relative. Take a sip of my drink, and you’ll understand.”

        The goblin’s pubic hair floats with a feather-like serenity onto the bridge of your nose. You sneeze. You reach for the goblin’s beer, but it snatches it away.

        “No! You don’t understand! This IS the dialectic, but you’ll never see that if you keep drinking lager! Let me check my notes...” The goblin checks its notes. “Hm, yes, all going according to plan. Noted. Yes. Shoo now, I must return to my studies.”

        The goblin throws its mug at your head, which you narrowly dodge. You don’t hear the glass breaking anywhere.

        “Hm, interesting.” It belches. “Transmutation. Pure air. element. Coexist. Jerry. Brecht. I MEAN him this time. Good. GO!”

        You leave this goblin be and return to your table, unsure whether you’ve become enlightened or just more confused. Feeling an itch behind your ear, you reach to scratch it, only to find the goblin’s self-consuming pube somehow there...
    {% endmarkdown %}
{% endset %}
