---
layout: root
---

{% block headScript %}
<script>
  // fading
  $(document).ready(function () {
    $("#pubBodyDiv").hide()
    $("#pubBodyDiv").fadeIn(1500)

    if ($("#groveBodyDiv").is(":hover")) {
    }

    $("#groveBodyDiv")
      .mouseenter(function () {
        console.log("hover")
        $("#introCursor").show()
        $(document).mousemove(function (e) {
          $("#introCursor").css("left", e.pageX + "px")
          $("#introCursor").css("top", e.pageY + "px")
        })
      })
      .mouseleave(function () {
        $("#introCursor").hide()
      })

    $("#exitButton").mouseover(function () {
      console.log("mouse on")
      $(this).delay(1000).attr("src", "/res/StarterPub/dynamic/cheers.gif")
    })

    $("#exitButton").mouseout(function () {
      console.log("mouse off")
      $(this).delay(1000).attr("src", "/res/StarterPub/dynamic/cheersStill.gif")
    })

    $("#exitButton").click(function () {
      console.log("click!")
      const audio = new Audio("/res/StarterPub/sound/cheers.mp3")
      audio.play()
      // $("#introBodyDiv").fadeOut(6000);
      setTimeout("window.open('welcomeTraveller.html', '_self')", 2000)
    })
  })
</script>
{% endblock %} {% block content %}
<div id="pubCornerDiv" class="grid-container">
  <div class="header">
    <img
      class="header"
      src="/res/StarterPub/static/headerScroll1.png"
      style="width: 80%; height: 80%"
    />
    <div class="overlay">
      <p class="Title">Ye Olde Fountain</p>
      <p class="subTitle">
        <span style="font-size: 45%">.&#10027;*&#65439;&#65381;&#65439;* </span>
        The Gnome In The Corner<span style="font-size: 45%"
          >*&#65439;&#65381;&#65439;&#10027;*.</span
        >
      </p>
    </div>
  </div>
  <div class="headerL"></div>
  <div class="headerR">
    <audio controls id="headerControls" autoplay loop>
      <source src="/res/StarterPub/sound/grove.mp3" type="audio/mpeg" />
      Your browser does not support the audio element.
    </audio>
  </div>

  <div class="sidebarTopR">
    <img
      class="sidebar"
      id="exitButton"
      src="/res/StarterPub/dynamic/cheersStill.gif"
    />Return To The Bar...
  </div>
  <div class="mainContentBlock1">
    <div id="mainContentWrapper">
      <p>
        Your interest is piqued by a curious, verdant scent wafting out of a
        ominously shadowed corner of this otherwise completely average pub. The
        youths in your birth-town often loitered around the graveyard, listening
        to The Smiths and zooting pipe tobacco, but this feels different to you.
        As you walk towards this odor, the darkness is parted by a drifting
        cloud of green smoke, one that begins to take on the shape of a finger
        as you near it; you feel your nostrils, plagued by the advent of
        seasonal allergies, filled with the song of a thousand trees and the
        gleeful laughter of gnomes. Closing your eyes, you smile, but the gnomic
        chuckle grows louder.
      </p>
      <p>
        “This is no simple reverie my friend!” exclaims a voice that pierces
        through this moment of serenity. You quickly shake your head to regain
        your composure, only to see an absolutely dripped out gnome in front of
        you. He lowers a silver-coated pipe into the light, revealing a strange
        insignia.
      </p>

      <p>“You know what this is, my dumbfounded friend?”</p>

      <p>
        Dumbfounded is right, you quietly think. What could this sign be? A
        cross in the middle, surrounded by a horseshoe like shape with the words
        “Gnome Hearts” inscribed in it; could this be some kind of
        metallurgic-gnomic-fungal cult, slowly ready to take over the world?
        Perhaps a fanatical band of equestrian-enthusiast religious zealots?
      </p>

      <p>
        “You know what I’m wearing, friend?” asks the gnome. “It’s all Gnome!
        Gnome Hearts, of course.” He steps up from a toadstool, also with this
        same logo, unveiling an outfit fully composed of this “Gnome Hearts,”
        from the most curled-up point of his shoes to the tippy-top of his
        traditional gnomic hat.
      </p>

      <div><img class="inlineImg" src="/res/StarterPub/static/hobgoblin.png" /></div>

      <p>
        “You know what I’m wearing, friend?” asks the gnome. “It’s all Gnome!
        Gnome Hearts, of course.” He steps up from a toadstool, also with this
        same logo, unveiling an outfit fully composed of this “Gnome Hearts,”
        from the most curled-up point of his shoes to the tippy-top of his
        traditional gnomic hat.
      </p>

      <p>
        “Hee hee! Come with me my good friend!” The gnome pulls up his
        long-sleeve GH jerkin, rubs his belly, and the Gnome Hearts insignia
        begins to glow on his belly button. He gestures for you to touch it, and
        you find that you can’t resist. As your finger traces this glowing
        outline, you realize that you’re no longer in the same pub...
      </p>
    </div>
  </div>
</div>

<div id="groveBodyDiv">
  <div id="borderOverlay">
    <!--- <img src="/res/StarterPub/dynamic/starBorder.gif"> --->
  </div>
  <img id="introCursor" src="/res/StarterPub/dynamic/sparkle.gif" />
</div>
{% endblock %}
