---
title: Ye Olde Fountain
subTitle: The Orcs Playing Dice by the Bar...
audioPath: /res/StarterPub/sound/orcs2.mp3
background: pub-light-wood
textBackground: pub-dark-wood
---

{% extends 'StarterPub/orcsPlayingDice.njk' %}


{% set textbox_text %}
  {% markdown %}
Since you’re in a pub, your mind drifts off to the proverbial “mind-pub,” that is of course your innermost mental chamber for your thoughts, its dialectical walls lined with taps pouring only the finest muddy ale (not a lager boy, are ye?) someone like yourself can find. Imagining the ouroboric cycle of you holding your Palace Pint Glass, moving from tap to tap, filling your chalice carefully as to not spill any on your Custom “Rick & Morty” Rick Dunks, and sipping, you are startled by the click-clack cacophony of dice on a table.
Your attention turns to a few orcs playing what seems to be a classic game of Liar’s Dice. Your orcish is rusty, and you can only catch the faintest glimmer of what they’re saying, but you nonetheless can feel the cool breeze of the sea, smell the deliciously moist socks of a pirate at midday, and listen to the bickering of your crewmates nearby—but this is all now just a distant, but pleasant memory. You’re glad that you got to enjoy those days, wallowing in the filth as a crusading, oceanic desperado, but your taste and inclinations are a little more refined now. You wake up, look in the mirror, and vocalize “Clean.” You think these orcs would definitely inspire a hype but chill Bearbrick. 
What was that? It’s hard to remember sometimes. You walk over to the orcs, who have now noticed you staring at them, and take a seat...
{% endmarkdown %}
{% endset %}

{% set _OrcText %}
"Heh, you ought to be sharpening your dice laddie.",
"Where’s your bones?  Guess it’s an ork thing [smirks]", 
"*The orcs all laugh heartily.*", 
"Not keepin’ dice in yer sleeve ain’t ye....",
"Game’s smelling strange...."
{% endset %}