---
title: Simon Test
subTitle: The man in the tattered rags...
audioPath: /res/StarterPub/sound/chap.mp3
background: background-black
textBackground: background-black
headerBackground: pub-fantasy-busy-lute
articleImg: /res/StarterPub/static/simon_LACNUNGA.png
---

{% extends 'StarterPub/simon.njk' %}


{% set textbox_1 %}
    {% markdown %}
       An old woman dressed in a linen tunic walks across the rain-churned ground towards an exhausted, pained horse. A few things are rattling at her belt as she walks: some keys, a fish hook, an awl she was using a little while ago. We might not recognise the horse as a horse; we’d probably call it a pony. It’s a dun colour, a bit more than four feet high at the shoulder. The woman is on the short side by modern standards as well. 
      
      She draws a knife, but not the one she would normally use for odds and ends; this knife is special. Its handle is made from ox-horn, with three brass nails hammered in. The woman carves the mark of Christ into the horse several times: into its forehead, into its spine and into each of its limbs. The marks all bleed, although not profusely. She uses the knife to pierce the horse’s left ear. She walks over to the wattle fence, picks up a stick leaning against it, and hits the horse on the back. Into the handle of the knife, she carves a Christian expression. 
    {% endmarkdown %}
{% endset %}

{% set textbox_2 %}
    {% markdown %}
        The above story follows the instructions of an Anglo-Saxon metrical charm under the title Gif hors ofscoten sy (‘If a horse is in serious pain’), found in the second of two texts collectively called Læceboc (‘doctor-book’) dating from the tenth century. The book is a fascinating window into an early medieval view of how healing worked - a medical paradigm very different from our own, although just as complex. 
       Like us, the Anglo-Saxons saw injury and illness as the result of biological breakdown - but in addition to using herbs and natural chemicals to address this breakdown, they also used words and actions. Metrical charms not only took advantage of the properties of leaves and roots, but also of the perceived power of the spoken word. As far as they were concerned, some treatments would not work unless the right incantation was spoken. Words were ingredients, just as much as chemicals are ingredients in modern Euroamerican medicine. 
        As well as providing an insight into a medical paradigm most of us aren’t used to, these texts can also tell us something about the complex interaction between Christianity and an earlier folk belief system. Such interactions are often portrayed as a total, unilateral replacement of one by the other. This idea helps us to understand the historical order of things without looking too far into it. It constitutes a neat repetition of a story that we are all too familiar with: the ‘more advanced’ replaces the ‘less advanced’; the ‘more organised’ overtakes the ‘less organised’. The narrative can be twisted in the other direction; medieval Christianity might be treated as a demon with evil intent, destroying the ‘pure’ or ‘native’ belief system of a given place. Both of these stories are reductionist; both appeal to our need to have preconceptions confirmed or complex situations explained in broad terms.

 The idea of an abrupt or brutal replacement may be truer-to-life in more recent times; the forced Christianisation of many non-European groups in the 19th century is testimony to this. However, metrical charms offer us a glimpse into an extremely nuanced situation, where new strands were continuously being woven into the web of the adapting folk belief system.
We are confident that these metrical charms reflect something pre-Christian because they carry traces of the older belief system. The ‘nine herbs charm,’ from the tenth-century Lacnunga, is supposed to work against poison. The text of the charm focuses on the story of an adder - the only venomous snake native to the UK. It is one of the only textual references to Wōden, a figure in pre-Christian mythology related to the Scandinavian Óðinn (‘Odin’). It says that Wōden used nine twigs to cut the adder into pieces. Nine wild plants are used to make a salve to counteract the effects of poison and venom. It is never explicitly stated that these nine plants are the ‘twigs’ used by Wōden; that is up to our interpretation. This contrasts with (or perhaps complements) Gif hors ofscoten sy, which explicitly mentions the mark of Christ - presumably a more recent addition, or perhaps an adaptation from a feature of the charm which predates Christianisation. 


        
        So much of the past is off-limits to us. It is a privilege to have access to something that does not simply confirm our idea of a cut-and-dry replacement of one belief system with another, but instead gives us a more nuanced view of a belief system in flux, with elements of old and new intermingling. 
    {% endmarkdown %}
{% endset %}