---
title: Ye Olde Fountain
subTitle: The Dapper Goblin Sitting Alone...
audioPath: /res/StarterPub/sound/chap.mp3
background: background-black
textBackground: background-black
headerBackground: pub-fantasy-busy-lute
goblinA: /res/StarterPub/static/goblin1.png
goblinB: /res/StarterPub/static/goblin2.png
---

{% extends 'StarterPub/talkingGoblins.njk' %}


{% set text1 %}
{% markdown %}
Habbaþ gé ealu on þæ´m norðernan landum?
{% endmarkdown %}
{% endset %}

{% set text2 %}
{% markdown %}
Þæ´r habbaþ wé betere alu þonne hér.
{% endmarkdown %}
{% endset %}

{% set text3 %}
{% markdown %}
Nán wyrt is on þæ´m norðernan landum mid þe tó beterian hit.
{% endmarkdown %}
{% endset %}

{% set text4 %}
{% markdown %}
Wé né behófiaþ wyrta mid þe tó beteria hit.
{% endmarkdown %}
{% endset %}

{% set text5 %}
{% markdown %}
Þæt ealu þe wé drincaþ is mid mucgwyrte and wegbráde gebeterod
{% endmarkdown %}
{% endset %}

{% set text6 %}
{% markdown %}
Úser alu is bí berggræse beterod, þe wæs bí scéapum gecowen; hit is mid gréate fram stángeate beterod; hit is mid þæ´m swáte þára dwerga þe hit maciaþ beterod
{% endmarkdown %}
{% endset %}

{% set text7 %}
{% markdown %}
Gif ic æ´fre swát and gréot drincan wille, þá scealt þú mé on þæ´m norþlandum findan, ac meaht þú mé for langre tíde básnian.
{% endmarkdown %}
{% endset %}

{% set text8 %}
{% markdown %}
*chuckles* Hú lang?
{% endmarkdown %}
{% endset %}

{% set text9 %}
{% markdown %}
Swá lang swá þú ácwellan básniende meaht.
{% endmarkdown %}
{% endset %}

{% set text10 %}
{% markdown %}
Gif ik on aluhúse básnige, betere béa hit.
{% endmarkdown %}
{% endset %}

{% set text11 %}
{% markdown %}
Hwý cóme þú hér, gif þú þæt ealu on þæ´m norþlande forebirst?
{% endmarkdown %}
{% endset %}

{% set text12 %}
{% markdown %}
Má hæfþ líf þonne alu.
{% endmarkdown %}
{% endset %}


{% set trans1 %}
{% markdown %}
Do you have ale in the north lands?
{% endmarkdown %}
{% endset %}

{% set trans2 %}
{% markdown %}
We have better ale than here.
{% endmarkdown %}
{% endset %}

{% set trans3 %}
{% markdown %}
There are no plants in the north lands to flavour it with.
{% endmarkdown %}
{% endset %}

{% set trans4 %}
{% markdown %}
We do not need plants to flavour it with.
{% endmarkdown %}
{% endset %}

{% set trans5 %}
{% markdown %}
The ale we drink is flavoured with [lists a couple of plants].
{% endmarkdown %}
{% endset %}

{% set trans6 %}
{% markdown %}
Our ale is flavoured with mountain grass that has been twice gnawed by a sheep; it is flavoured with gravel from hillside passes; it is flavoured with the sweat of the goblins who make it.
{% endmarkdown %}
{% endset %}

{% set trans7 %}
{% markdown %}
If I ever want to drink sweat and gravel, you will find me in the north, but you may be waiting a long time for me
{% endmarkdown %}
{% endset %}

{% set trans8 %}
{% markdown %}
*chuckles* How long?
{% endmarkdown %}
{% endset %}

{% set trans9 %}
{% markdown %}
So long that you might die waiting.
{% endmarkdown %}
{% endset %}

{% set trans10 %}
{% markdown %}
If I am waiting in an ale-house, all the better.
{% endmarkdown %}
{% endset %}

{% set trans11 %}
{% markdown %}
Why did you come here, if you prefer the ale in the north?
{% endmarkdown %}
{% endset %}

{% set trans12 %}
{% markdown %}
There is more to life than ale.
{% endmarkdown %}
{% endset %}
