---
title: Ye Olde Fountain
subTitle: PLACEHOLDER STUFF
audioPath: /res/StarterPub/sound/enter.mp3
background: pub-light-panels
textBackground: pub-dark-wood-table
orcPath: /res/StarterPub/static/orcsDice.png
headerBackground: pub-fantasy-busy-2
---

{% extends 'StarterPub/welcome.njk' %}

{% set introText %}
{% markdown %}
You push open a completely unadorned wooden door, one of such a plain-looking quality that you find something rather sublime about it. As you step through, you find yourself in a completely normal pub. The footy is on the telly, as they say back home, and a friendly barkeep tends a wooden counter covered in Fosters’ beer mats. Behind him are more tellies with the footy mate. You think to yourself that this doesn’t have much executive energy; surely no one has a pair of Air Dior 1s (in the subtler low version, of course) or is a work-from-home dropshipping entrepreneur. As you ponder the questionable finances of this establishment, seeing that you are Esaria’s largest Travis Scott/Astroworld merchandise reseller, you hear a shout, one that you inexplicably understand is just for you.

“Bonjour!” yells the barkeep. “Don’t mind the French, just a bit of jokes.” He laughs. “What it’ll be for you? A Stella? A Fosters? A Guiness?”

You walk over and twiddle your fingers, the ones with the Chrome Hearts rings on them, hoping he doesn’t realize that you’re 16.

“Aw mate, I’m just pulling your leg. You think we look like one of those fancy pubs with more than one beer? We’ve only got Hobgoblin mate, your choice to take it or not. You’re not a little lager boy are you?” He eyes you up and down before giving a cheeky grin.

You nod silently as a mug of beer appears in front of you.

<div><img class="inlineImg" src="/res/StarterPub/static/hobgoblin.png" /></div>

“Second most important ingredient next to hops is a bit of magic,” says the barkeep as he tries his best to do a hearty wink. “Take a seat, relax! First one’s on me.”

You leave the bar and take a seat at one of the tables. Hm, seems like they use the Virgil Abloh / Ikea furniture here. “Not bad” you think. You could get used to the easy life here, taking your first sip of Hobgoblin, a real man’s drink.
{% endmarkdown %}
{% endset %}

{% set secondaryText %}
{% markdown %}
Cheers mate, enjoying the new Palace x Stella collab chalice!
Primus Rex, qui est de potestate Orientis, dicitur Baël, apparens tribus capitibus, quorum unum assimilatur bufoni alterum homini, tertium feli. Rauca loquitur voce, formator morum & insignis certator, reddit hominem invisibilem & sapientem. Huic obediunt sexagintasex legiones.
Agares Dux primus sub potestate Orientis, apparet benevolus in senioris hominis forma, equitans in crocodilo, & in manu accipitrem portans. Cuncta linguarum genera docet optime: fugitantes reverti facit, & permanentes fugere: prælaturas & dignitates dimittit, & tripudiare facit spiritus terræ: & est de ordine Virtutum, sub sua potestate habens triginta & unam legiones.
Marbas, alias Barbas, Præses magnus, se manifestans in fortissimi leonis specie, sed ab exorcista accitus humana induitur forma, & de occultis plene respondet, morbos invehit & tollit, promovet sapientiam artiumque mechanicarum cognitionem, homines adhæc in aliam mutat formã. Præest trigintasex legionibus.
Pruflas, alibi invenitur Bufas, magnus Princeps & Dux est, cujus mansio circa turrim Babylonis, & videtur in eo flamma foris, caput autem assimilatur magno nycticoraci. Autor est & promotor discordiarum, bellorum, rixarum & mendaciorum. Omnibus in locis non intromittatur. Ad quæsita respondet abunde. Sub sunt huic legiones vinginti sex, partim ex ordine Throni, partim Angelorum.
Amon vel Aamon Marchio magnus & potens, prodit in lupi forma caudam habens serpentinam, & flammam evomens. Hominis autem indutus speciem, caninos ostentat dentes, & caput magno nycticoraci simile. Princeps omnium fortissimus est, intelligens præterita & futura, hinc & gratiam concilians omnium amicorum & inimicorum. Quadraginta imperat legionibus
Barbatos magnus Comes & Dux, apparet in signo Sagittarii silvestris cum quatuor regibus tubas ferentibus. Intelligit cantus avium, canum latratus, mugitus boum & cunctorum animalium: thesauros item à magis & incantatoribus reconditos, detegit: Et est ex ordine Virtutum, partim Dominationum. Triginta præsidet legionibus. Novit præterita & futura: tam amicorum quam inimicorum animos conciliat.
Buer Præses magnus conspicitur in signo *. Absolute docet philosophiam, practicam, ethica item & logica, & herbarum vires: Dat optimos familiares: Ægros sanitati restituere novit, maxime & homines. Quinquaginta legionum habet imperium.
Gusoyn Dux magnus & fortis, apparet in forma zenophali. Explicate respondet & vere de præsentibus, præteritis, futuris & occultis. Amicoram & inimicorum gratiam reddit: Dignitates confert & honores conformat. Præest quadragintaquinque legionibus.
Botis, alibi Otis, magnus Præses & Comes, Prodit in viperæ specie deterrima: Et siquando formam induit humanam dentes ostendit magnos & cornua duo, manu gladium acutum portans. Dat perfecte responsa vera de præsentius, præteritis, futuris & abstrusis. Tam amicos quam hostes conciliat. Sexaginta imperat legionibus.
Bathym, alibi Marthim Dux magnus & fortis: Visitur constitutione viri fortissimi cum cauda serpentina, equo pallido insidens. Virtutes herbarum & lapidum pretiosorum intelligit. Cursu velocissimo hominem de regione in regionem transfert. Huic triginta subsunt legiones.
{% endmarkdown %}
{% endset %}