<!DOCTYPE html>
<html prefix="og: https://ogp.me/ns#" lang="{{ site.lang }}">
  <head>
    {% include "head.njk" %}

    <link rel="stylesheet" type="text/css" href="/styles/tailwind.css" />
    <link rel="stylesheet" type="text/css" href="/styles/utilities.css" />
    <link rel="stylesheet" type="text/css" href="/styles/variables.css" />
    <link rel="stylesheet" type="text/css" href="{{ paths.fileCssHref }}" />

    {% block headScript %}
    {% endblock %}
  </head>

  <body>
    {% block content %}
    {% endblock %}
  </body>
</html>
