{%macro textBox(textbox_text, textBackground,fontSize='',padding='',margin='', font='paragraph-primary-font')%}
<div class="text {{textBackground}} {{font}} {{fontSize}} {{padding}} {{margin}}">
    {{textbox_text | safe}}
</div>
{%endmacro%}