---
---
{% extends 'root.njk' %}

{% block headScript %}
<script>
  // fading
  $(document).ready(function () {
    $("#noticeboardDiv").hide()
    $("#noticeboardDiv").fadeIn(200)

    $("#exitButton").click(function () {
      console.log("click!")
      const audio = new Audio("/res/Noticeboard/sound/enter.mp3")
      audio.play()
      // $("#introBodyDiv").fadeOut(6000);
      setTimeout("window.open('..\/overworld.html', '_self')", 1000)
    })
  })
</script>
{% endblock %} {% block content %}
<div id="noticeboardDiv">
  <div class="grid-container">
    <div class="Map">
      <img
        class="sidebar"
        id="exitButton"
        src="/res/Noticeboard/dynamic/map.gif"
      />Return To The world...
    </div>
    <div class="Big-Note">
      <img src="/res/Noticeboard/static/Big-Note.png" class="sidebar" />
    </div>
    <div class="Note-1">
      <img src="/res/Noticeboard/static/Note-1.png" class="sidebar" />
    </div>
    <div class="Note-2"></div>
    <div class="Note-3"></div>
  </div>
</div>
{% endblock %}
