<header>
  <div class="headerContainer {{headerBackground}}">
    <div class="headerScroll">
      <img
        src="/res/StarterPub/static/headerScroll1.png"
      />
      <div class="overlay-true-center heading-primary-font">
        <p class="Title text-6xl">{{title | safe}}</p>
        <p class="subTitle text-4xl">{{subTitle | safe}}</p>
      <div class="dynamicButton text-2xl paragraph-primary-font">
        <img
          class="w-1/5"
            id="exitButton"
            src="/res/StarterPub/dynamic/cheersStill.gif"
          />
          <p>Return To The Bar...</p>
    </div>
      </div>
    </div>
  </div>
</header>