{%macro textBox(textbox_text, textBackground, font='paragraph-primary-font',fontSize='',padding='',margin='')%}
<div class="text {{textBackground}} {{font}} {{fontSize}} {{padding}} {{margin}}">
    {{textbox_text}}
</div>
{%endmacro%}