.ta-center {
  text-align: center;
}

/* flex */
.flex-end {
  align-self: flex-end;
}

/* Padding */

/* Margins */
.center-m {
  margin-left: auto;
  margin-right: auto;
}

/* background stylings */
.pub-dark-wood {
  background-image: url("/res/YeOldeFountain/static/pub-dark-wood.png");
}

.pub-dark-wood-table {
  background-image: url("/res/YeOldeFountain/static/pub-dark-wood-table.jpg");
  background-size: cover;
}

.pub-light-wood {
  background-image: url("/res/YeOldeFountain/static/pub-light-wood.jpg");
  background-repeat: repeat;
  height: fit-content;
}

.pub-light-panels {
  background-image: url("/res/YeOldeFountain/static/pub-light-panels.jpg");
  background-repeat: repeat;
  height: fit-content;
}

.pub-fantasy-busy {
  background-image: url("/res/YeOldeFountain/static/pub-fantasy-busy.jpg");
  background-image: no-repeat;
  background-size: cover;
}

.pub-fantasy-busy-2 {
  background-image: url("/res/YeOldeFountain/static/pub-fantasy-busy-2.png");
  background-image: no-repeat;
  background-size: cover;
  background-position-y: 25%;
}

.pub-fantasy-cursed {
  background-image: url("/res/YeOldeFountain/static/pub-fantasy-cursed.jpg");
  background-image: no-repeat;
  background-position: center;
  background-size: cover;
}

.pub-fantasy-busy-lute {
  background-image: url("/res/YeOldeFountain/static/pub-fantasy-busy-lute.jpg");
  background-image: no-repeat;
  background-size: cover;
  background-position: center;
}

.pub-fantasy-busy-game {
  background-image: url("/res/YeOldeFountain/static/pub-fantasy-busy-game.jpg");
  background-image: no-repeat;
  background-size: cover;
  background-position: center;
}

.pub-fantasy-orcs {
  background-image: url("/res/YeOldeFountain/static/pub-fantasy-orcs.jpg");
  background-image: no-repeat;
  background-size: cover;
  background-position-y: 80%;
}

.grove-wooded-cave {
  background-image: url("/res/YeOldeFountain/static/grove-wooded-cave.png");
  height: 1080px; /* temp */
}

.overworld-map {
  background-image: url("/res/Overworld/static/overworld-map.png");
}

.noticeboard-wood {
  background-image: url("/res/Noticeboard/static/noticeboard-wood.png");
  //background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.background-black {
  background-color: black;
}

/* Dividers */
.divider {
  width: 100%;
  z-index: 5;

  background-repeat: repeat-x;
}

.metalDividerLeft {
  background-image: url("/res/YeOldeFountain/static/metalLeft.gif");
  background-repeat: repeat-y;
}

.metalDividerRight {
  background-image: url("/res/YeOldeFountain/static/metalRight.gif");
  background-repeat: repeat-y;
  background-position: right;
}

/* Useful stuff */
/* Div overlays */
%overlay-base {
  position: absolute;
  z-index: 2;
}

.overlay-true-center {
  @extend %overlay-base;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.overlay-top-center {
  @extend %overlay-base;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 100%;
}

/* Cursor Overlays */
#cursorImg {
  position: absolute;
  transform: translate(-50%, -50%);
}

/**************************************
**			EXTERNAL LIBRARIES		 **
**************************************/

.clearfix:after {
  content: ".";

  display: block;

  clear: both;

  visibility: hidden;

  line-height: 0;

  height: 0;
}

.clearfix {
  display: inline-block;
}

html[xmlns] .clearfix {
  display: block;
}

* html .clearfix {
  height: 1%;
}
