.ta-center {
  text-align: center;
}

.flex-right {
  align-self: flex-end;
}

/* Display */
.inline-block {
  display: inline-block;
}

/* Padding */

/* Margins */
.center-m {
  margin-left: auto;
  margin-right: auto;
}

/* background stylings */
.pub-dark-wood {
  background-image: url("/res/StarterPub/static/darkWoodBack.png");
}

/**************************************
**			EXTERNAL LIBRARIES		 **
**************************************/

.clearfix:after {
  content: ".";

  display: block;

  clear: both;

  visibility: hidden;

  line-height: 0;

  height: 0;
}

.clearfix {
  display: inline-block;
}

html[xmlns] .clearfix {
  display: block;
}

* html .clearfix {
  height: 1%;
}
