---
---
{% extends 'StarterPub/StarterPubRoot.njk' %}

{% block main %}

<!-- feels hacky? sets height of div so background is shown (so it repeats on x)-->
{% import "StarterPub/partials/transitionDivider.njk" as transition %}
{{ transition.transition("/res/StarterPub/static/metalTop.gif") }}
<main>
  <!-- also feels hacky with -2 margin -->
  <aside class="left-sidebar metalDividerLeft -mt-2"></aside>
  <aside class="right-sidebar metalDividerRight -mt-2">
  </aside>

  <div class="contentWrapper inline-block mt-10"> 
    <img class="inline-block" src="{{goblinPath}}" width="75%" />
    <div class="content">
        {% import "StarterPub/partials/textBox.njk" as textBox %}
        {{ textBox.textBox(textbox_text,textBackground,'','py-2 px-2','mx-8') }}
    </div>
  </div>
</main>
{% endblock %}
