---
---
{% extends 'StarterPub/StarterPubRoot.njk' %}

{% block headScript %}

{%endblock%}

{% block main %}

{% import "StarterPub/partials/transitionDivider.njk" as transition %}
{{ transition.transition("/res/StarterPub/static/metalTop.gif") }}

<main>
  <!-- also feels hacky with -2 margin -->
  <aside class="left-sidebar metalDividerLeft -mt-2"></aside>
  <aside class="right-sidebar metalDividerRight -mt-2"></aside>

  <div class="contentWrapper inline-block mt-10"> 
    <div class="content">
        {% import "StarterPub/partials/textBox.njk" as textBox %}
        {{ textBox.textBox(textbox_text,textBackground,'','py-2 px-2','mx-8') }}
    </div>
  </div>
</main>

{% import "StarterPub/partials/transitionDivider.njk" as transition %}
{{ transition.transition("/res/StarterPub/dynamic/starBorder.gif",'','-mt-2','absolute')}}

<main class="{{groveBackground}}">
  <img id="cursorImg" class="hidden w-1/12 z-0" src="/res/StarterPub/dynamic/sparkle.gif" />
</main>

<script src="/scripts/cursorImgTracking.js"></script>
<script>
  $(document).ready(function () {
    $(".{{groveBackground}}").mouseenter(function () {
      $("#cursorImg").removeClass("hidden")
    })
    $(".{{groveBackground}}").mouseleave(function () {
      $("#cursorImg").addClass("hidden")
    })
  })
</script>
{% endblock %}

