---
---
{% extends 'StarterPub/StarterPubRoot.njk' %}

{% block headScript %}
{%endblock%}

{% block main %}

{% import "StarterPub/partials/transitionDivider.njk" as transition %}
{{ transition.transition("/res/StarterPub/static/metalTop.gif") }}

<main>
  <!-- also feels hacky with -2 margin -->
  <aside class="left-sidebar metalDividerLeft -mt-2"></aside>
  <aside class="right-sidebar metalDividerRight -mt-2"></aside>

  <div class="contentWrapper inline-block mt-10"> 
    <div class="content mt-20 mb-20">
        {% import "StarterPub/partials/textBox.njk" as textBox %}
        {{ textBox.textBox(textbox_text,textBackground,'','py-2 px-2','mx-8') }}
    </div>
  </div>
</main>

{% import "StarterPub/partials/transitionDivider.njk" as transition %}
{{ transition.transition("/res/StarterPub/dynamic/starBorder.gif",'','-mt-2','absolute','w-1/12')}}

<main class="{{groveBackground}} justify-center items-center">
  <img id="cursorImg" class="hidden w-1/12 z-20" src="/res/StarterPub/dynamic/sparkle.gif" />
  
  <div class="riddleContainer flex flex-row z-0">
    <div class="riddleScroll flex w-1/2 justify-center relative">
        <img
          src="/res/StarterPub/static/scrollVert.png"
        />
        <div class="overlay-top-center mt-20 text-center heading-primary-font">
          <form onsubmit="return false">
            <p id="riddle" class="px-16 text-xl mb-4" > I sneak with my slimes, I keep checking the time, I foam to the top, and alas what’s left is thine! Whom do you deem is I?
</p>
            <input type="text" id="answer" name="answer">
            <input type="submit" value="Submit">
          </form>
        </div>
    </div>

    <div class="gnomeSpectator relative flex items-center ml-10">
      <img class="w-3/4" src="/res/StarterPub/dynamic/gnomeFrog.gif"/>
      <div class="absolute mb-4 top-1/10 left-1/3" id="speechContainer" style="display: none">
        <img style="width: 200px" src="/res/StarterPub/static/speechBubble.png"/>
        <div id="speechText" class="px-4 pb-2.5 pt-4 leading-4  overlay-top-center ta-center text-lg paragraph-primary-font">
        </div>
      </div>
    </div>
  </div>


</main>

<script src="/scripts/cursorImgTracking.js"></script>

<script type="module">

import {toggleSpeech} from '/scripts/toggleSpeech.js';

  $(document).ready(function () {

    var riddles = [{{_riddles | safe}}];

    // Caught ya cheating didn't I? I didn't know you had a spell of Detect Thoughts in your repetoire.... heh welcome to my mind palace i guess, cheers.
    var answers = [{{_answers | safe}}];
    var gnomeResponsesCorrect = [{{_gnomeResponsesCorrect | safe}}];
    var gnomeResponsesIncorrect = [{{_gnomeResponsesIncorrect | safe}}];
    var guessCorrect = false;
    var answer = "";

    // pick the first riddle that comes to my brain....
    var i = Math.floor(Math.random() * riddles.length);
    $("#riddle").text(riddles[i]);
    console.log(i);


    $(".{{groveBackground}}").mouseenter(function () {
      $("#cursorImg").removeClass("hidden");
    });
    $(".{{groveBackground}}").mouseleave(function () {
      $("#cursorImg").addClass("hidden");
    });

    $("input[type='submit']").on("click", function(){
      answer = $("#answer").val().toLowerCase();
       
      if(answer == answers[i].toLowerCase())
        guessCorrect = true;
      
      if(guessCorrect){
        toggleSpeech(gnomeResponsesCorrect[i]);

        i = Math.floor(Math.random() * riddles.length);
        setTimeout(function(){$("#riddle").text(riddles[i]);},3000);
       
        guessCorrect = false;
      }else{
        var j = Math.floor(Math.random() * gnomeResponsesIncorrect.length);
        toggleSpeech(gnomeResponsesIncorrect[j]);
      }
    });

  });
</script>
{% endblock %}

