---
---
{% extends 'StarterPub/StarterPubRoot.njk' %}
{% import "StarterPub/partials/textBox.njk" as textBox %}

{% block main %}

<!-- feels hacky? sets height of div so background is shown (so it repeats on x)-->
{% import "StarterPub/partials/transitionDivider.njk" as transition %}
{{ transition.transition("/res/StarterPub/static/metalTop.gif") }}
<main>
  <!-- also feels hacky with -2 margin -->
  <aside class="left-sidebar metalDividerLeft -mt-2"></aside>
  <aside class="right-sidebar metalDividerRight -mt-2">
  </aside>

  <div class="contentWrapper inline-block mt-10"> 
    
    <div class="content mt-20 mb-20">
        {{ textBox.textBox(textbox_1,textBackground,'','py-2 px-2','mx-8 article') }}
        <img class="inline-block" src="{{articleImg}}" width="30% my-4" />
        {{ textBox.textBox(textbox_2,textBackground,'','py-2 px-2','mx-8  article') }}
    </div>
  </div>
</main>
{% endblock %}
