{% extends 'root.njk' %}

{% block headScript %}
    <script src="/scripts/bodyFadeIn.js"></script>
    <script src="/scripts/exitButton.js"></script>
{%endblock%}

{% block content %}
{% include 'StarterPub/partials/header.njk'  %}

{% block main %}{% endblock %}
{%include 'StarterPub/partials/footer.njk' %}
{%endblock %}