{% extends 'root.njk' %}

{% block headScript %}

{%endblock%}

{% block content %}
<script>
    //<script src="/scripts/bodyFadeIn.js">
    $("body").hide();
    $("body").fadeIn(1500);
</script>
{% include 'StarterPub/partials/header.njk'  %}

{% block main %}{% endblock %}
{%include 'StarterPub/partials/footer.njk' %}

    <script src="/scripts/exitButton.js"></script>
{%endblock %}