---
---
{% extends 'StarterPub/StarterPubRoot.njk' %}

{% block headScript %}
{% endblock %} 

{% block main %}

<main class="mt-24 relative">
    <aside class="left-sidebar ml-5">
      <div class="menuScroll absolute">
        <img class="sidebar" src="/res/StarterPub/static/menu1.png" />

        <div class="overlay-top-center text-center">
          <h1 class="menuTitle heading-primary-font secondary-color">Menu</h1>
          <p></p>

          <p class="menuLink paragraph-primary-font">Fat Banana - £50</p>
          <p></p>
          <p class="menuLink paragraph-primary-font">Chrome Pig Hearts - £200</p>
          <p></p>
          <p class="menuLink paragraph-primary-font">EnglishEat's Special - £10</p>
          <p></p>
        </div>
      </div>

      <div class="gnomeSmoking absolute">
        <a
          class="annotationLink"
          href="merchGrove.html"
          ><img class="w-full" src="/res/StarterPub/dynamic/gnomeSmoking.gif" /><p class="primary-color paragraph-primary-font">Approach the gnome smoking in the far corner...</p></a
        >
      </div>

    </aside>

    <aside class="right-sidebar">
      <img class="sidebar" id="exitButton" src="/res/StarterPub/static/salonDoorStatic.png" />
    
      <div class="beer1 absolute">
        <img class="sidebar" src="/res/StarterPub/static/beerMattWBeer.png" />
      </div>

      <div class="beer2 absolute">
        <img class="sidebar" src="/res/StarterPub/static/beerMattWStains.png" />
      </div>
    </aside>

    <div class="contentWrapper inline-block mx-5"> 
      <div class="content mb-20">
          {% import "StarterPub/partials/textBox.njk" as textBox %}
          {{ textBox.textBox(introText,textBackground,'','py-8 px-16','mx-20') }}
      </div>
  </div> 
</main>

<main class="mt-24 relative">
    <aside class="left-sidebar ml-5">
      <div class="goblinTome absolute">
        <a
          class="annotationLink"
          href="goblinPhilosopher.html"
          ><img class="w-full" src="/res/StarterPub/dynamic/tome.gif" /><p class="primary-color paragraph-primary-font">Ask the goblin what he is studying...</p></a
        >
      </div>

      <div class="coinSpread absolute">
        <img class="sidebar" src="/res/StarterPub/static/coinsSpread.png" />
      </div>
    </aside>

    <aside class="right-sidebar">
      <div class="dagger absolute">
        <img class="sidebar" src="/res/StarterPub/static/dagger.png" />
      </div>
      <div class="orcDice absolute">
        <a
          class="annotationLink"
          href="/StarterPub/orcsPlayingDice.html"
          ><img class="w-full" src="/res/StarterPub/dynamic/orc1.gif" /><p class="primary-color paragraph-primary-font">Buy into the game of dice being played by the Orcs...</p></a
        >
      </div>
      <div class="coinPouch absolute">
        <img class="sidebar" src="/res/StarterPub/static/coinPouch2.png" />
      </div>
    </aside>

    <div class="contentWrapper inline-block mx-5"> 
    <div class="content mb-20">
        {% import "StarterPub/partials/textBox.njk" as textBox %}
        {{ textBox.textBox(secondaryText,textBackground,'','py-8 px-16','mx-20') }}
    </div>
  </div> 
</main>
{% endblock %}
