---
layout: root
---

{% block headScript %}
<script>
  $(document).ready(function () {
    var isChrome =
      /Chrome/.test(navigator.userAgent) && /Google Inc/.test(navigator.vendor)
    if (!isChrome) {
      $("#iframeAudio").remove()
    } else {
      // just to make sure that it will not have 2x audio in the background
      $("#playAudio").remove()
    }

    var introFade = 5000
    var numIntroLines = $(".intro").length

    console.log("ready!")

    $(document).mousemove(function (e) {
      $("#introCursor").css("left", e.pageX + "px")
      $("#introCursor").css("top", e.pageY + "px")
      //const backgroundAudio = new Audio("/res/Overworld/sound/elvenFlute.mp3");
      //backgroundAudio.play();
    })
    $("#introAnimation").hide()

    $(".intro").each(function (i) {
      $(this).hide()
    })

    $(".intro").each(function (i) {
      $(this)
        .delay(introFade * i)
        .fadeIn(introFade)
    })

    $("#introAnimation")
      .delay(1000 + (numIntroLines - 1) * introFade)
      .fadeIn(10000)

    // The saloon doors swinging on mouseover can be done in css
    $("#enterButton").mouseover(function () {
      console.log("mouse on")
      // what is this? salonDoors.txt is not a text file
      $(this).delay(1000).attr("src", "/res/Overworld/dynamic/salonDoors.txt")
    })

    $("#enterButton").mouseout(function () {
      console.log("mouse off")
      $(this).delay(1000).attr("src", "/res/Overworld/static/salonDoorStatic.png")
    })

    $("#enterButton").click(function () {
      console.log("click!")
      const audio = new Audio("/res/Overworld/sound/enter.mp3")
      audio.play()
      $("#introBodyDiv").fadeOut(6000)
      setTimeout("window.open('overworld.html', '_self')", 7000)
    })
  })
</script>
{% endblock %} {% block content %}
<iframe
  src="/res/Overworld/sound/elvenFlute.mp3"
  allow="autoplay"
  style="display: none"
  id="iframeAudio"
>
</iframe>
<audio autoplay loop id="playAudio">
  <source src="/res/Overworld/sound/elvenFlute.mp3" />
</audio>

<div id="introBodyDiv">
  <a href="/Overworld/overworld.html">
    <div id="skipWrapper">
      <img src="/res/Overworld/dynamic/wand.gif" width="50%" />
      <p style="font-family: medievalParagraph; color: white">
        "Screw this, just take me to the damn overworld."
      </p>
    </div>
  </a>

  <div>
    <p class="intro">
      The sound of far off revelry cuts through the tranquil wood...
    </p>
  </div>

  <div>
    <p class="intro">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;...and
      as you make your way farther down the Game Hunter's path, the cheers and
      music get louder and louder.
    </p>
  </div>

  <div>
    <p class="intro">
      The smell of meat roasting above a campfire and hearty brown ale gently
      waft between the pines, pleasantly mixing with the smell of petrichor and
      wet dirt.
    </p>
  </div>

  <div>
    <p class="intro">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The
      path opens up into a small grove, surronded by towering oak. In the
      center, a small band of merry gnomes are camped about a noticeboard.
    </p>
  </div>

  <div>
    <p class="intro">
      "Ah! A traveller! Welcome to the land of the 5 pubs" says one, handing you
      a crumpled map...
    </p>
  </div>

  <!--<div> <h1 class="intro"> WELCOME TO THE FOUNTAIN WORKS! </h1> </div>-->

  <a href="/Overworld/overworld.html">
    <div id="introAnimation" class="buttonWrapper">
      <img
        class="button"
        src="/res/Overworld/static/mapIcon.png"
        width="50%"
        style="justify-content: center"
      />
    </div>
  </a>

  <img id="introCursor" src="/res/Overworld/dynamic/sparkle.gif" />
</div>
{% endblock %}
