---
title: Map of the Five Pubs
subTitle: Let this be your guide to the mystical land traveller, a companion to the many wonders sequestered within this wood.
headerScroll: map-scroll.png

noticeboard: Noticeboard
noticeboard_img: noticeboard-logo.png

archive: Pick up the strange hourglass by the trailside...
archive_img: archive-hourglass.png

pub1: Ye Olde Fountain Works
pub1_img: fountainworks-tavern.png

pub2: The LinkedLounge
pub2_img: LL-logo.jpg
---
{% extends 'Overworld/overworld.njk' %}

